:root {
  --violet: #2D1B69;
  --lavande: #8B6BB1;
  --or: #C9A96E;
  --rose: #F0E6FF;
  --blanc: #FAF8FF;
  --vert: #27500A;
  --vert-moyen: #3B6D11;
  --vert-clair: #EAF3DE;
  --vert-doux: #C0DD97;
}
